@import "tailwindcss";

@theme {
  /* Fontes */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-instrument: "Instrument Sans", sans-serif;

  /* Cores Base (Mapeadas para as variáveis que mudam) */
  --color-background-dark: var(--bg-dark);
  --color-background: var(--bg);
  --color-background-light: var(--bg-light);

  /* Gradientes */

  --background-image-primary-gradient: var(--primary-gradient);

  --color-text-main: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border-custom: var(--border);
  --color-highlight: var(--highlight);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  /* Outros */
  --radius-custom: 20px;
  --background-image-fade-overlay: var(--fade-overlay);

}

:root {
  --bg-dark: hsl(240, 28%, 5%);
  --bg: hsl(240, 28%, 10%);
  --bg-light: hsl(240, 28%, 15%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);
  --primary: hsl(180, 79%, 44%);
  --primary-hover: hsl(180, 79%, 34%);
  --fade-overlay: linear-gradient(to top, rgba(0, 0, 0, 0.89), transparent 80%);
  --transition-default: all .23s ease-in-out;

  
}

@layer base {
  body {
    @apply bg-background text-text-main font-jakarta antialiased transition-colors duration-200;
    line-height: 1.6;
  }
}